<div class="social">
    <div class="contact-icons">
      <a href = "https://www.linkedin.com/in/zubair-khaliq-924836133/" title="LinkedIn"><img src="/assets/img/social/linkedin.png" width="40" height="40"></a>
      <a href = "https://github.com/Zubair2019" title="Github"><img src="/assets/img/social/github.png" width="40" height="40"></a>
      <a href = "https://hangouts.google.com" title="Hangouts"><img src="/assets/img/social/hangouts.png" width="40" height="40"></a>
      <a href = "mailto:zikayem@gmail.com" title="Gmail"><img src="/assets/img/social/gmail.png" width="40" height="40"></a>
  </div>
  </div>